{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "overrides": [],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier",
        "@emotion"
    ],
    "rules": {
        "react/prop-types": 0,
        "no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "React"
            }
        ],
        "react/no-unknown-property": [
            "error",
            {
                "ignore": [
                    "css"
                ]
            }
        ]
    }
}